<div class="simplecheckout-block" id="simplecheckout_text_{{ block }}">
    {% if display_header %}
    <div class="checkout-heading panel-heading">{{ text_title }}</div>
    {% endif %}
    <div class="simplecheckout-block-content">
      {{ text_content }}
    </div>
</div>